table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    background-color: black;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    color: aliceblue;
  }
  
  tr:nth-child(even) {
    background-color: #171515;
  }


  .d{
    padding: 20px;
    background-color: rgb(32, 126, 181);
    border-radius: 5px;
    max-width: 20%;
    margin-left: 400px;
    margin-top: 40px;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"]{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(32, 126, 181);
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3%;
}
textarea{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgb(32, 126, 181);
    box-sizing: border-box;
    display: inline-block;
    border-radius: 3%;
}
#but{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgb(32, 126, 181);
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3%;
  cursor: pointer;
}